  <div class="contenedor-blog">
   <h3>New blog post</h3>
    <form class="form" action="" method="post" data-bind="submit: sendBlog" data-hasrequired="* Required Fields" data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset">
            <div class="field name required">
                <label for="titulo" class="label"><span>Titulo</span></label>
                <div class="control">
                    <input type="text" id="titulo" name="titulo" placeholder="Titulo del post" class="input-text" data-bind="value: titulo" data-validate='{"required":true}'>
                </div>
            </div>
            <div class="field name required">
                <label for="contenido" class="label"><span>Contenido</span></label>
                <div class="contenido">
                    <input type="textarea" id="contenido" name="contenido" placeholder="Ingrese todo el texto de la publicacion" class="input-text" data-bind="value: contenido" data-validate='{"required":true}'>
                </div>
            </div>
            <div class="field name required">
                <label for="email" class="label"><span>Email</span></label>
                <div class="email">
                    <input type="text" id="email" name="email" placeholder="Ingrese su email" class="input-text" data-bind="value: email" data-validate='{"required":true}'>
                </div>
            </div>
            <div class="field name">
                <label for="img" class="label"><span>Imagen</span></label>
                <div class="control">
                    <input type="text" id="img" name="img" placeholder="imagen" data-bind="value: image" class="input-text">
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                    <input type="hidden" name="hideit" id="hideit" value="" />
                    <button type="submit" title="Submit" class="action submit primary">
                        <span>Submit</span>
                    </button>
            </div>
        </div>
    </form>
    <div class="blogs">
        <div class="blog" data-bind="foreach: blogs">
            <h3 class="blog-title" data-bind="text: title"></h3>
            <div class="blog-image"></div>
            <p class="blog-content" data-bind="text: content"></p>
        </div>
    </div>
</div> 