<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
  <router id="standard">
    <route id="Attributes" frontName="omniproattributes">
        <module name="OmniPro_Attributes"/>
    </route>
  </router>
  </config>

